.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 33px;
  gap: 41px;
  overflow: hidden;
  position: center;
  height: 100vh;
  background: linear-gradient(180deg, #F7B5F8 0%, #F9D46C 100%);
}

.item-6 {
  height: 15vh;
  width: auto;
}